* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

#workspaces,
#mode,
#window,
#clock,
#custom-weather,
#tray,
#taskbar,
#pulseaudio,
#memory,
#cpu,
#battery,
#upower,
#network,
#idle_inhibitor,
#custom-power {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  padding-right: 0px;
  padding-left: 5px;
  margin-left: 5px;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 0;
  border: 0;
  outline: 0;
}

#mode {
  padding-left: 4px;
  border-radius: 10px 0 0 10px;
  color: #cdd6f4;
}

#window {
  background: transparent;
  color: #cdd6f4;
  border-radius: 0 10px 10px 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#clock {
  color: #f9e2af;
  border-radius: 10px 0 0 10px;
}

#custom-weather {
  border-radius: 0 10px 10px 0;
  margin-left: 0px;
}

#tray {
  border-radius: 10px;
  margin-right: 4px;
}

#taskbar {
  border-radius: 10px;
  margin-right: 4px;
}

#pulseaudio {
  border-radius: 10px 0 0 10px;
}

#network.disconnected {
  color: orange;
}

#custom-power{
  color: #a6adc8;
  background: #1e1e2e;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}
