* {
  font-family: Iosevka;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  font-weight: normal;
}

window#waybar {
  background: #1b182c;
  opacity: 0.85;
}

#window,
#memory,
#pulseaudio,
#disk,
#network,

#power {
  padding-left: 1rem;
}

#cpu {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#battery {
  padding-left: 1rem;
  padding-right: 1rem;
}

#upower {
  padding-left: 0rem;
  padding-right: 0rem;
}

#network.disconnected {
  color: orange;
}

#idle_inhibitor {
  padding-left: 1rem;
  padding-right: 1rem;
}

#workspaces {
  background: #962a54;
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
}
#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: #7a2043;
  border-radius: 1rem;
}
