* {
  font-family: monospace;
  border-color: transparent;
  outline-style: none;
}

window {
  border-radius: 1rem;
  background: #1e1e2e;
  color: #cdd6f4;
  padding: 1rem;
  border-color: #fab387;
}

#input {
  border-radius: 1rem;
  border-color: transparent;
  background: transparent;
  color: #cdd6f4;
  font-size: 14pt;
  padding: 0.5rem;
  outline: none;
}

#input:focus {
  border-color: transparent;
}

#selected {
  background: #181825;
  color: #fab387;
  border-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
}

/* #entry:nth-child(even) { */
/*   background: #1f1c33; */
/*   border-radius: 1rem; */
/* } */

#text {
  padding: 0.75rem;
  font-size: 11pt;
}

#outer-box {
  background: #181825;
  border-radius: 1rem;
  padding: 0.5rem;
}

#inner-box {
  background: #1e1e2e;
  border-radius: 1rem;
}

#entry {
  margin: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
  border-radius: 1rem;
}
